#mode-select,
#score,
.subject{
    border: solid red;
    border-radius: 8px;
}

#mode-select{
    height: 100px;
    margin-bottom: 8px;
}

#score{
    height: 100px;
    margin-top: 8px;
}
#calculation{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px 8px;
}

.subject{
    display: grid;
    grid-template-columns: auto auto;
    -ms-grid-column-align: center;
    gap: 8px 8px;
    max-width: 100%;
    height: auto;
    padding: 8px;
}

.textbox{
    padding: 20x;
    max-width: 50%;
    height: 100%;
    font-size: auto;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}